Library
Temp
*.pidb
*.unityproj
*.sln
*.userprefs
build
.DS_Store

eclipse
*.apk

Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj

